# Xcode / build
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
*.ipa
*.dSYM.zip
*.dSYM

# SwiftPM
.build/
Package.resolved

# Misc
.DS_Store
*.swp
*~
